.header_logo {
    display: block;
    text-align: left;
    margin-top: 10px;
    img {
        width: 340px;
        height: 80px;
    }
}

.header_sair {
display: block;
margin-top: 30px;
text-align: right;
 img {
     width: 40px;
     height: 40px;
 }
}

